body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.layout-wrapper {
    display: flex;
    height: calc(100vh - 56px);
    width: 100vw;
}

.sidebar {
    width: 280px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    overflow-x: auto;
    background: #fff;
    scroll-behavior: smooth;
}

#scroll-x {
    scroll-snap-type: x mandatory; 
    scroll-padding-inline-start: 55px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.schedule-table th, 
.schedule-cell {
    scroll-snap-align: start; 
}

.schedule-table {
    margin-bottom: 0;
    height: auto;
}

.schedule-table th {
    background-color: #f1f3f4;
    font-weight: 600;
    border-bottom: 2px solid #dee2e6;
    height: 50px;
}

.time-col {
    background-color: #fff;
    font-size: 0.85rem;
    white-space: nowrap;
    height: 120px; 
    vertical-align: middle;
}

.schedule-cell {
    vertical-align: top;
    padding: 0px;
    min-width: 200px;
    position: relative;
}


.lesson-card {
    height: 100%;
    min-height: 120px;
    
    background-color: #e8f0fe;
    border-radius: 4px;
    border-left: 4px solid #0d6efd;
    overflow: hidden;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.card-lecture {
    background-color: #bcc3ff;
    border-left: 4px solid #0d6efd;
}

.card-lecture .colored-badge {
    background-color: #0d6efd;
}

.card-practical {
    background-color: #bcffc7;
    border-left: 4px solid #10bd00;
}

.card-practical .colored-badge {
    background-color: #10bd00;
}

.card-laboratory {
    background-color: #f7bcff;
    border-left: 4px solid #d200e6;
}

.card-laboratory .colored-badge {
    background-color: #d200e6;
}


/* sticky first column of table */
.schedule-table th:first-child,
.schedule-table td:first-child {
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 5;
    border: 2px solid #dee2e6;
}

.schedule-table thead th:first-child {
    z-index: 10;
    border: 2px solid #dee2e6;
    background-color: #f8f9fa;
}

.tooltiptext {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0%;
    width:240px;
    height: 120px;
    background-color: #dee2e6;
    border: #0d6efd solid 1px;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}

.schedule-cell:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    bottom: 125%;
}

.add-icon {
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: #dee2e6;
    text-align: center;
    font-size: 34px;
    opacity: 0.5;
    position: absolute;
    top: 45px;
    right: 75px;
}


.delete-icon {
    top: 0px;
    right: 0px;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #ff0000c4;
    text-align: center;
    font-size: 17px;
    position: absolute;
    opacity: 1;
}